* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.header-wrapper {
  display: flex;
  padding: 53px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-wrapper__item {
  display: flex;
  align-items: center;
}

.header-text {
  font-family: "M plus 1p";
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 2px;
  color: #30233d;
}

.header-wrapper__item ul {
  display: flex;
}

.header-wrapper__item li {
  font-family: "M plus 1p";
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  list-style-type: none;
  margin-right: 30px;
  color: #30233d;
}

.header-wrapper__item li a {
  text-decoration: none;
  color: #30233d;
  letter-spacing: 2px;
}

.header-wrapper__item li:last-of-type {
  margin-right: 0;
}

.phone {
  margin-left: 18px;
  text-decoration: none;
  font-family: "M plus 1p";
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  color: #30233d;
  letter-spacing: 2px;
}

main {
  background-image: url(./images/main_image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.main-theme {
  padding: 126px 0 115px 0;
  height: 378px;
}

.main-theme h1 {
  color: #fff;
  font-family: "M plus 1p";
  font-weight: 500;
  font-size: 54px;
  line-height: 80px;
}

.main-theme p {
  font-family: "M plus 1p";
  font-weight: 800;
  font-size: 18px;
  line-height: 143.9%;
  color: #fff;
  letter-spacing: 2px;
}

.main-content {
  padding: 72px 0 58px 0;
  width: 870px;
}

.main-content h2 {
  color: #a22f32;
  font-family: "M plus 1p";
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.main-content p {
  font-family: "M plus 1p";
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: #30233d;
}

.blocks {
  display: flex;
  justify-content: space-between;
}

.block-item {
  padding: 39px 36px 38px 36px;
  border: 1px solid #f61067;
  width: 31.9%;
  margin-bottom: 58px;
}

.block-item img {
  display: block;
  padding-bottom: 33px;
}

.block-item h3 {
  font-family: "M plus 1p";
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: #30233d;
  padding-bottom: 13px;
}

.block-item p {
  color: #30233d;
  font-family: "M plus 1p";
  font-weight: 400;
  font-size: 16.2px;
  line-height: 26px;
}

footer {
  background-color: #000;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 84px 0 72px 0;
}

.bruh {
  margin-right: 19px;
}

.footer-wrapper__item {
  display: flex;
}

.footer-wrapper__item p {
  font-family: "M plus 1p";
  font-style: normal;
  font-weight: 400;
  font-size: 11.7px;
  line-height: 19px;
  color: #fff;
}

.footer-wrapper__item:last-of-type img:last-of-type {
  margin-left: 19px;
}
